{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section id="about" class="my-5">
    <h1 class="display-4">About Me</h1>
    <p class="lead">Write about yourself here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</section>
<section id="social-media" class="my-5">
    <h2 class="h3">Social Media</h2>
    <ul class="list-unstyled">
        <li><a href="https://github.com/ssandra102" target="_blank" class="btn btn-outline-secondary btn-lg my-2">GitHub</a></li>
        <li><a href="https://linkedin.com/in/sandraskaria" target="_blank" class="btn btn-outline-info btn-lg my-2">LinkedIn</a></li>
    </ul>
</section>
{% endblock %}
