{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section id="projects" class="my-5">
    <h1 class="display-4">My Projects</h1>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ project.image }}" class="card-img-top project-img" alt="{{ project.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ project.link }}" class="btn btn-primary">View Project</a>
                    <a href="{{ project.code }}" class="btn btn-secondary">View Code</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

